.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.example-card {
  max-width: 100%;
}

.example-header-image {
  background-image: url('src\assets\img\credit-cards.jpg');
  background-size: cover;
}

mat-form-field {
  width: 100%;
  margin-right: 12px;
}

mat-card-content {
  margin: 0 5%;
}

.radio-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 50%;
}

.radio-margin {
  margin: 0 10px;
}

.radio-margin-label {
  width: 130px;
}

.form-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.example-h2 {
  margin: 10px;
}

.loading-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin: 0 5%;
}

.loading-margin {
  margin: 0 10px;
}