<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Credit card approval prediction</mat-card-title>
    <mat-card-subtitle>Fill out the form below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <P>Here we could explain how the algorithm works...</P>

    <form [formGroup]="creditCardForm">

      <section class="radio-section">
        <label class="radio-margin">Gender:</label>
        <mat-radio-group>
          <mat-radio-button checked class="radio-margin" value="male">Male</mat-radio-button>
          <mat-radio-button class="radio-margin" value="female">Female</mat-radio-button>
        </mat-radio-group>
      </section>

      <!-- STATUS -->
      <mat-form-field>
        <mat-label>Finantial status</mat-label>
        <mat-select>
          <mat-option *ngFor="let status of finantialStatus" [value]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- NAME_EDUCATION_TYPE -->
      <mat-form-field>
        <mat-label>Type of education</mat-label>
        <mat-select>
          <mat-option *ngFor="let education of educationTypes" [value]="education.value">
            {{education.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- NAME_INCOME_TYPE -->
      <mat-form-field>
        <mat-label>Type of income</mat-label>
        <mat-select>
          <mat-option *ngFor="let income of incomeTypes" [value]="income.value">
            {{income.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- CODE_GENDER -->
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option *ngFor="let gender of genderTypes" [value]="gender.value">
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- CODE_GENDER -->
      <mat-form-field>
        <mat-label>Family type</mat-label>
        <mat-select>
          <mat-option *ngFor="let familyStatus of familyStatusTypes" [value]="familyStatus.value">
            {{familyStatus.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- NAME_HOUSING_TYPE -->
      <mat-form-field>
        <mat-label>House type</mat-label>
        <mat-select>
          <mat-option *ngFor="let house of houseTypes" [value]="house.value">
            {{house.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- FLAG_BIRTH -->
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- FLAG_OWN_CAR -->
      <section class="radio-section">
        <label class="radio-margin">Own car:</label>
        <mat-radio-group>
          <mat-radio-button class="radio-margin" value="male">Yes</mat-radio-button>
          <mat-radio-button class="radio-margin" value="female">No</mat-radio-button>
        </mat-radio-group>
      </section>

      <!-- FLAG_MOBIL -->
      <section class="radio-section">
        <label class="radio-margin">Own mobile phone:</label>
        <mat-radio-group>
          <mat-radio-button class="radio-margin" value="male">Yes</mat-radio-button>
          <mat-radio-button class="radio-margin" value="female">No</mat-radio-button>
        </mat-radio-group>
      </section>

      <!-- FLAG_WORK_PHONE -->
      <section class="radio-section">
        <label class="radio-margin">Work phone:</label>
        <mat-radio-group>
          <mat-radio-button class="radio-margin" value="male">Yes</mat-radio-button>
          <mat-radio-button class="radio-margin" value="female">No</mat-radio-button>
        </mat-radio-group>
      </section>

      <!-- FLAG_PHONE -->
      <section class="radio-section">
        <label class="radio-margin">Landline phone:</label>
        <mat-radio-group>
          <mat-radio-button class="radio-margin" value="male">Yes</mat-radio-button>
          <mat-radio-button class="radio-margin" value="female">No</mat-radio-button>
        </mat-radio-group>
      </section>

      <!-- FLAG_EMAIL -->
      <section class="radio-section">
        <label class="radio-margin">Email:</label>
        <mat-radio-group>
          <mat-radio-button class="radio-margin" value="male">Yes</mat-radio-button>
          <mat-radio-button class="radio-margin" value="female">No</mat-radio-button>
        </mat-radio-group>
      </section>

      <!-- AMT_INCOME_TOTAL -->
      <mat-form-field class="example-form-field">
        <mat-label>Total amount Income</mat-label>
        <input matInput type="number">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Submit</button>
  </mat-card-actions>
</mat-card>
